<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>AppStore</display-name>
	<description>AppStore</description>
	<context-param>
		<param-name>entorn</param-name>
		<param-value>local</param-value>
		<description>entorn produccio/local</description>
	</context-param>
	<context-param>
		<param-name>emulator</param-name>
		<param-value>yes</param-value>
		<description>yes esta en un emulador, no esta en un mobil</description>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:META-INF/server/wink-core-context.xml
			/WEB-INF/appStore-context.xml</param-value>
	</context-param>
	<filter>
		<filter-name>cross-origin</filter-name>
		<filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
		<init-param>
			<param-name>allowedOrigins</param-name>
			<param-value>http://127.0.0.1:8020</param-value>
		</init-param>
		<init-param>
			<param-name>allowedMethods</param-name>
			<param-value>GET,POST,OPTIONS,DELETE,PUT,HEAD</param-value>
		</init-param>
		<init-param>
			<param-name>allowedHeaders</param-name>
			<param-value>origin, content-type, accept, authorization, x-titanium-id </param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>cross-origin</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>restSdkService</servlet-name>
		<servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>restSdkService</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


</web-app>
